<aside
  class="rec-music rec-music-gradient text-container-song w-full min-w-[200px] flex items-center gap-4"
>
  <!-- IMAGE -->
  <div class="shrink-0">
    <img
      src="<%= song.album.images[0]?.url %>"
      alt="profile-img"
      class="rec-img"
    />
  </div>
  <!-- TEXT -->
  <div class="flex flex-col w-full min-w-0">
    <h2 class="truncate-song font-semibold">
      <a href="/details/<%= song.id %>"><%= song.name %></a>
    </h2>
    <p class="truncate-artist flex">
      <a href="/details/<%= song.id %>"><%= song.artists[0]?.name %></a>
    </p>
  </div>
</aside>
