<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <title>Details</title>
  </head>
  <body class="app-container">
    <%- include("partials/header")%>
    <main>
      <div class="detail-container">
        <!-- Logo -->
        <div
          id="headerGradient"
          class="music-logo-container flex flex-col md:flex-row h-auto md:h-[250px]"
        >
          <aside class="image-container">
            <img
              id="albumImage"
              src="<%= track.album.images[0]?.url %>"
              alt="music image"
              class="w-[100%] h-auto md:w-[300px] md:h-[250px]"
              crossorigin="anonymous"
            />
          </aside>
          <div class="text-container text p-2.5">
            <!--Image -->
            <div>
              <img
                class="profile-img"
                src="<%= artist?.images?.[0]?.url || track.album.images[0]?.url %>"
                alt="Profile Photo "
              />
            </div>
            <!--Artist Name -->
            <div class="logo-like-space">
              <div class="text-color">
                <p class="text-3xl font-semibold  text-color "><%= track.name %></p>
                <p class="text-2xl  text-color"><%= track.artists[0]?.name %></p>
              </div>
              
            </div>
          </div>
          
          <div class="discription-container md:w-[350px] w-full">
            <div class="artist-description p-5 ">
              <h1 class="text-color text-2xl">
                <%= artist?.name || track.artists[0]?.name %>
                is an artist featured on the track
                <%= track.name %>.
              </h1>
            </div>
            <div class="flex flex-row gap-[10px]  menu" data-id="<%= track.id %>">
              <button id="addBtb">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="hed-icon play-btn"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4.5v15m7.5-7.5h-15"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <!--Recommended -->
        <div class="recommended-section">
          <div class="rec-header pb-5 pt-5">
            <p class="font-semibold intro ">Meer van deze auteur</p>
          </div>
          
          <div class="rec-container" id="songs">
            <% moreFromArtist.forEach((song) => { %>
            <%- include("partials/songoverview" ,{ song: song })%>
            <% });  %>
          </div>

          <div class="rec-header pb-5 pt-5">
            <p class="font-semibold intro ">Ontdek nieuwe muziek</p>
          </div>

          <div class="rec-container ">
            <% songs.forEach((song) => { %>
            <%- include("partials/songoverview" ,{ song: song })%>
            <% });  %>
          </div>
        </div>
      </div>
    </main>
    <%- include("partials/footer")%>
    <script src="/js/gradient.js" defer></script>
  </body>
</html>
