<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>Profile</title>
  </head>
  <body class="app-container">
    <%- include("partials/header")%>
    <main class="main-container">
      <div class="profile-container">
        <div class="profile-header">
          <div class="profile-background-photo"></div>
          <div class="place-content-center">
            <img
              src="<%= typeof avatar !== 'undefined' && avatar
                      ? '/uploads/' + avatar
                      : '/assets/Palindrom_profile.jpg' %>"
              alt="profile photo"
              class="profile-img"
            />
            <div class="info-container">
              <h3 class="font-semibold text-2xl text-color">Palindrom</h3>
            </div>
          </div>

          <button  class="edit-button" id="editBtn">
            <img src="/assets/edit-profile.png" alt="edit" class="edit-icon" />
          </button>

          <form class="form-avatar main-gradient-container" id="editForm" action="/profile" method="POST" enctype="multipart/form-data" style="display: none;">
            <label class="upload-avatar-l flex">Upload new avatar:</label>
            <input class="upload-avatar flex" type="file" name="avatar" accept="image/*" required />

            <button class="btn h-[30px]" type="submit">Save</button>
          </form>
          <script>
            document.getElementById("editBtn").addEventListener("click", () => {
              const form = document.getElementById("editForm");
              form.style.display = form.style.display === "none" ? "block" : "none";
            });
          </script>

        </div>
      </div>

      <p class="pt-5 text-2xl font-semibold">Eigen afspeellijsten</p>
      <%- include("partials/albumoverview")%>

      <p class="pt-5 text-2xl font-semibold">Afspeellijsten die je leuk vond</p>
      <%- include("partials/albumoverview")%>
    </main>

    <%- include("partials/footer")%>
  </body>
</html>
